#keyboard {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #d5d9dc;
  padding: 250px 0px 0px 250px;
  transition: opacity 0.25s ease-out;
}

body {
  background-color: #d5d9dc;
}

#keyboard ul {
  list-style-type: none;
  width: 1333px;
  margin: 0 auto;
  padding: 0px;
}

#keyboard ul>li {
  float: left;
}

.key{
  display: block;
  color: #7c7c7c;
  font: normal 1.1em OpenSans;
  text-decoration: none;
  text-align: center;
  width: 75px;
  height: 70px;
  margin: 9px;
  background: #eff0f2;
  -moz-border-radius: 7px;
  border-radius: 85px;
  border-top: 2px solid #f5f5f5;
  box-shadow: 
    inset 0 0 43px #e8e8e8,
    0 2px 0 #c3c3c3,
    0 3px 0 #c9c9c9,
    0 3px 5px #333;
  text-shadow: 0px 2px 0px #f5f5f5;
}

.key:active, .keydown {
  color: #888;
  background: #ebeced;
  margin: 12px 9px 5px;
  box-shadow: 
    inset 0 0 43px #ddd,
    0 0 5px #333;
  border-top: 2px solid #eee;
}

#numbers li a span {
  display: block;
  margin: 22px 0 0;
}

#numbers li #delete span {
  text-align: center;
  margin: 22px 0 0 0;
  font-size: 1.0em;
  text-transform: lowercase;
}
  
#qwerty li a span {
  display: block;
  margin: 22px 0 0;
  text-transform: uppercase;
}
  
#qwerty li b {display: block; margin: 5px 0 0;}
#qwerty li span {margin: 3px 0 0;}

#asdfg li a span {
  display: block;
  margin: 22px 0 0;
  text-transform: uppercase;
}

#asdfg li span {margin: 0; text-transform: lowercase;}
#asdfg li #enter span {
  text-align: right;
  margin: 39px 17px 0 0;
  font-size: 1.1em;}


#zxcvb li a span {
  display: block;
  margin: 22px 0 0;
  text-transform: uppercase;
}
  
#delete {width: 122px;}
#enter {width: 145px;}

#spacebar {
  height: 83px;
  width: 646px;
}

/* Micro Clearfix by Nicolas Gallagher - http://nicolasgallagher.com/micro-clearfix-hack */
        /* For modern browsers */
        .cf:before, .cf:after {content:""; display:table;}
        .cf:after {clear:both;}

        /* For IE 6/7 (trigger hasLayout) */
        .cf {zoom:1;}
