<div id="keyboard" ng-controller="KeyboardController" ng-show="searching">
  <ul class="cf" id="numbers">
    <li><font size="3" color="d5d9dc">l_galaxy</font> </li>
    <li ng-click="keyPress('1')"><a href="" class="key" draggable="false"><span>1</span></a></li>
    <li ng-click="keyPress('2')"><a href="" class="key" draggable="false"><span>2</span></a></li>
    <li ng-click="keyPress('3')"><a href="" class="key" draggable="false"><span>3</span></a></li>
    <li ng-click="keyPress('4')"><a href="" class="key" draggable="false"><span>4</span></a></li>
    <li ng-click="keyPress('5')"><a href="" class="key" draggable="false"><span>5</span></a></li>
    <li ng-click="keyPress('6')"><a href="" class="key" draggable="false"><span>6</span></a></li>
    <li ng-click="keyPress('7')"><a href="" class="key" draggable="false"><span>7</span></a></li>
    <li ng-click="keyPress('8')"><a href="" class="key" draggable="false"><span>8</span></a></li>
    <li ng-click="keyPress('9')"><a href="" class="key" draggable="false"><span>9</span></a></li>
    <li ng-click="keyPress('0')"><a href="" class="key" draggable="false"><span>0</span></a></li>
    <li ng-click="keyPress('backspace')"><a href="" class="key" id="delete" draggable="false"><span>Backspace</span></a></li>
  </ul>

  <ul class="cf" id="qwerty">
    <li><font size="3" color="d5d9dc">l_galaxyqw</font> </li>
    <li ng-click="keyPress('Q')"><a href="" class="key" draggable="false"><span>q</span></a></li>
    <li ng-click="keyPress('W')"><a href="" class="key" draggable="false"><span>w</span></a></li>
    <li ng-click="keyPress('E')"><a href="" class="key" draggable="false"><span>e</span></a></li>
    <li ng-click="keyPress('R')"><a href="" class="key" draggable="false"><span>r</span></a></li>
    <li ng-click="keyPress('T')"><a href="" class="key" draggable="false"><span>t</span></a></li>
    <li ng-click="keyPress('Y')"><a href="" class="key" draggable="false"><span>y</span></a></li>
    <li ng-click="keyPress('U')"><a href="" class="key" draggable="false"><span>u</span></a></li>
    <li ng-click="keyPress('I')"><a href="" class="key" draggable="false"><span>i</span></a></li>
    <li ng-click="keyPress('O')"><a href="" class="key" draggable="false"><span>o</span></a></li>
    <li ng-click="keyPress('P')"><a href="" class="key" draggable="false"><span>p</span></a></li>
  </ul>

  <ul class="cf" id="asdfg">
    <li><font size="3" color="d5d9dc">l_galaxy_asdfg</font> </li>
    <li ng-click="keyPress('A')"><a href="" class="key" draggable="false"><span>a</span></a></li>
    <li ng-click="keyPress('S')"><a href="" class="key" draggable="false"><span>s</span></a></li>
    <li ng-click="keyPress('D')"><a href="" class="key" draggable="false"><span>d</span></a></li>
    <li ng-click="keyPress('F')"><a href="" class="key" draggable="false"><span>f</span></a></li>
    <li ng-click="keyPress('G')"><a href="" class="key" draggable="false"><span>g</span></a></li>
    <li ng-click="keyPress('H')"><a href="" class="key" draggable="false"><span>h</span></a></li>
    <li ng-click="keyPress('J')"><a href="" class="key" draggable="false"><span>j</span></a></li>
    <li ng-click="keyPress('K')"><a href="" class="key" draggable="false"><span>k</span></a></li>
    <li ng-click="keyPress('L')"><a href="" class="key" draggable="false"><span>l</span></a></li>
  </ul>

  <ul class="cf" id="zxcvb">
    <li><font size="3" color="d5d9dc">l_galaxy_zxcvbnm</font> </li>
    <li ng-click="keyPress('Z')"><a href="" class="key" draggable="false"><span>z</span></a></li>
    <li ng-click="keyPress('X')"><a href="" class="key" draggable="false"><span>x</span></a></li>
    <li ng-click="keyPress('C')"><a href="" class="key" draggable="false"><span>c</span></a></li>
    <li ng-click="keyPress('V')"><a href="" class="key" draggable="false"><span>v</span></a></li>
    <li ng-click="keyPress('B')"><a href="" class="key" draggable="false"><span>b</span></a></li>
    <li ng-click="keyPress('N')"><a href="" class="key" draggable="false"><span>n</span></a></li>
    <li ng-click="keyPress('M')"><a href="" class="key" draggable="false"><span>m</span></a></li>
    <li ng-click="keyPress(',')"><a href="" class="key" draggable="false"><span>,</span></a></li>
    <li ng-click="keyPress('.')"><a href="" class="key" draggable="false"><span>.</span></a></li>
  </ul>

  <ul class="cf" id="bottomrow">
    <li><font size="3" color="d5d9dc">spacebar_spaceb_l_galaxy</font> </li>
    <li ng-click="keyPress(' ')"><a href="" class="key c32" id="spacebar" draggable="false"></a></li>
  </ul>
</div>
